node_modules
.env
.env.local
.env.test
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
.venv 
.DS_Store
.vscode
.idea
.pytest_cache
__pycache__/
*.py[cod]
htmlcov/
frontend/coverage/
frontend/dist/
*.db-shm
*.db-wal
.coverage
.coverage.*
.coverage.xml
.coverage.xml.*
.coverage.xml.*.*
